<?xml version="1.0" encoding="UTF-8"?>

<config>
  <modules>
    <BlueAcorn_Disabler>
      <version>0.0.1</version>
    </BlueAcorn_Disabler>
  </modules>

  <global>

    <models>
      <disabler>
	<class>BlueAcorn_Disabler_Model</class>
	<resourceModel>disabledmodule_resource</resourceModel>
      </disabler>

      <disabledmodule_resource>
	<class>BlueAcorn_Disabler_Model_Resource</class>
	<entities>
	  <disabledmodule>
	    <table>disabled_modules</table>
	  </disabledmodule>
	</entities>
      </disabledmodule_resource>

    </models>

    <resources>
      <disabler_setup>
	<setup>
	  <module>BlueAcorn_Disabler</module>
	  <class>BlueAcorn_Disabler_Model_Resource_Setup</class>
	</setup>
      </disabler_setup>
    </resources>

    <blocks>
      <blueacorn_disabler>
	<class>BlueAcorn_Disabler_Block</class>
      </blueacorn_disabler>

      <enterprise_customersegment>
	<rewrite>
	  <adminhtml_customersegment_edit_tabs>BlueAcorn_Disabler_Block_Adminhtml_Customersegment_Edit_Tabs</adminhtml_customersegment_edit_tabs>
	</rewrite>
      </enterprise_customersegment>

    </blocks>

    <helpers>
      <blueacorn_disabler>
        <class>BlueAcorn_Disabler_Helper</class>
      </blueacorn_disabler>
    </helpers>

    <events>

      <controller_front_init_before>
	<observers>
	  <blueacorn_disabler>
	    <class>BlueAcorn_Disabler_Model_Observer</class>
	    <method>disableModules</method>
	    <type>singleton</type>
	  </blueacorn_disabler>
	</observers>
      </controller_front_init_before>

    </events>

  </global>

</config>
