<?xml version="1.0" encoding="UTF-8"?>

<config>
  <modules>
    <BlueAcorn_Disabler>
      <version>0.0.1</version>
    </BlueAcorn_Disabler>
  </modules>

  <global>

    <helpers>
      <blueacorn_disabler>
        <class>BlueAcorn_Disabler_Helper</class>
      </blueacorn_disabler>
    </helpers>

    <events>

      <controller_front_init_before>
	<observers>
	  <blueacorn_disabler>
	    <class>BlueAcorn_Disabler_Model_Observer</class>
	    <method>disableModules</method>
	    <type>singleton</type>
	  </blueacorn_disabler>
	</observers>
      </controller_front_init_before>

    </events>

  </global>

</config>
